/* line 1, ../compass/sass/style.scss */
body {
  background-color: #222;
  color: white;
}
/* line 4, ../compass/sass/style.scss */
body textarea {
  padding: 10px;
  color: black;
  font-size: 18px;
  border-radius: 5px;
  width: 100%;
  height: 100px;
}
/* line 13, ../compass/sass/style.scss */
body img {
  width: 100%;
}

/* line 18, ../compass/sass/style.scss */
.navbar-top {
  margin-bottom: 0;
  border: 0;
}

/* line 22, ../compass/sass/style.scss */
#title {
  color: #a29061;
  font-size: 38px;
}

/* line 26, ../compass/sass/style.scss */
#right-nav-wrapper .button-wrapper {
  float: right;
}

/* line 29, ../compass/sass/style.scss */
#main-wrapper {
  padding: 0;
}
/* line 32, ../compass/sass/style.scss */
#main-wrapper #post-entry-wrapper button {
  display: block;
  width: 150px;
  margin: auto;
}
/* line 39, ../compass/sass/style.scss */
#main-wrapper #posts-wrapper .post {
  width: 95%;
  position: relative;
  height: 170px;
  background-color: #E6E6E6;
  border: 4px solid white;
  border-radius: 5px;
  color: #262626;
  margin: 20px auto;
}
/* line 48, ../compass/sass/style.scss */
#main-wrapper #posts-wrapper .post .text {
  font-size: 20px;
  margin: 15px 5px 10px 15px;
}
/* line 52, ../compass/sass/style.scss */
#main-wrapper #posts-wrapper .post .date {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
/* line 57, ../compass/sass/style.scss */
#main-wrapper #posts-wrapper .post .user {
  position: absolute;
  bottom: 10px;
  right: 100px;
}
/* line 62, ../compass/sass/style.scss */
#main-wrapper #posts-wrapper .post .upVote-wrapper {
  font-size: 20px;
  position: absolute;
  right: 30px;
  top: 40px;
}
/* line 68, ../compass/sass/style.scss */
#main-wrapper #posts-wrapper .post .downVote-wrapper {
  font-size: 20px;
  position: absolute;
  right: 30px;
  bottom: 40px;
}
/* line 74, ../compass/sass/style.scss */
#main-wrapper #posts-wrapper .post #error-message {
  font-size: 18px;
  color: red;
  position: absolute;
  bottom: 10px;
  left: 250px;
}

/* line 86, ../compass/sass/style.scss */
#follow-wrapper .users-to-follow {
  margin-bottom: 20px;
  font-size: 20px;
}
/* line 90, ../compass/sass/style.scss */
#follow-wrapper button {
  width: 105px;
}
